<%- layout('layouts/main.ejs')%>

<div class="col-md-5">
    <div class="card">
        <div class="card-body">
            <form action="/edit/<%= product._id %>" method="post">
                <div class="form-group">
                    <input type="text" name="name" id="name" placeholder="Name" value="<%= product.name %>" class="form-control">
                </div>
                <% if (product.isKilogram == true){ %>
                <div class="form-group">
                    <input type="text" name="weight" id="weight" placeholder="weight" value="<%= product.weight %>" class="form-control">
                </div> 
                <% } else { %>
                    <div class="form-group">
                        <input type="text" name="unit" id="unit" placeholder="unit" value="<%= product.unit %>" class="form-control">
                    </div> 
                <% } %>
                <div class="form-group">
                    <input type="text" name="price" id="price" placeholder="Price" value="<%= product.price %>" class="form-control">
                </div>
                <div class="form-group">
                    Categoria: <br>
                    <select class="custom-select" aria-label="Default select example" name="category">
                        <option selected><%= product.category %></option>
                        <% if(product.category == "verdura") { %>
                            <option value="fruita">fruita</option>
                            <option value="llegums">llegums</option>
                            <option value="oli">oli</option>
                        <% } %>
                        <% if(product.category == "fruita") { %>
                            <option value="verdura">verdura</option>
                            <option value="llegums">llegums</option>
                            <option value="oli">oli</option>
                        <% } %>
                        <% if(product.category == "llegums") { %>
                            <option value="verdura">verdura</option>
                            <option value="fruita">fruita</option>
                            <option value="oli">oli</option>
                        <% } %>
                        <% if(product.category == "oli") { %>
                            <option value="verdura">verdura</option>
                            <option value="fruita">fruita</option>
                            <option value="llegums">llegums</option>
                        <% } %>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" name="quantity" id="quantity" placeholder="Cantidad en stock" class="form-control" value="<%= product.quantity %>">
                </div>
                <div class="form-group">
                    <textarea  name="description" cols= 80 placeholder="Description" class="form-control"><%= product.description %></textarea>
                </div>
                <!-- <div class="form-group">
                    <label for="image">Change image</label>
                    <input type="file" name="image" class="form-control" value="<%= product.image %>">
                </div> -->
                <button type="submit" class="btn btn-primary btn-block">
                    Save changes
                </button>
            </form>
        </div>
    </div>
</div>

<script>
    function kiloClick(myRadio) {
        document.getElementById('measure').value = "";
        document.getElementById('measure').placeholder = "weight";
        document.getElementById('measure').name = "weight"
    }
    
    function unitClick(myRadio) {
        document.getElementById('measure').value = "";
        document.getElementById('measure').placeholder = "unit";
        document.getElementById('measure').name = "unit";
    }
    </script>