<%- layout('layouts/main.ejs')%>

<div class="col-md-5">
    <div class="card">
        <div class="card-body">
            <form action="/edit/<%= product._id %>" method="post">
                <div class="form-group">
                    <input type="text" name="name" id="name" placeholder="Name" value="<%= product.name %>" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="price" id="price" placeholder="Price" value="<%= product.price %>" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="category" id="category" placeholder="Categoria" value="<%= product.category %>" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="quantity" id="quantity" placeholder="Cantidad en stock" class="form-control">
                </div>
                <div class="form-group">
                    <textarea  name="description" cols= 80 placeholder="Description" class="form-control"><%= product.description %></textarea>
                </div>
                <!-- <div class="form-group">
                    <label for="image">Change image</label>
                    <input type="file" name="image" class="form-control" value="<%= product.image %>">
                </div> -->
                <button type="submit" class="btn btn-primary btn-block">
                    Save changes
                </button>
            </form>
        </div>
    </div>
</div>